<div align="center">
    <h1 align="center" style="margin-bottom: 5px; color: navy;">{{ 'Tables.MarksheetList' | translate }}</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <div *ngIf="form.list.length > 0">
        <table style="width: 100%">
            <tr>
                <td align="center">
                    <label><b>{{ 'Common.Student' | translate }} {{ 'Common.Name' | translate }}: </b></label>
                    <input type="text" name="name" [(ngModel)]="form.searchParams.name" [placeholder]="'Placeholders.EnterStudentName' | translate">&nbsp;

                    <button (click)="search()">{{ 'Buttons.Search' | translate }}</button>&nbsp;
                    <button (click)="reset()">{{ 'Buttons.Reset' | translate }}</button>
                </td>
            </tr>
        </table>

        <br>

        <table border="1" style="width: 100%; border: groove;">
            <tr style="background-color: #e1e6f1e3;">
                <th><input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)" /></th>
                <th>{{ 'Common.SNo' | translate }}</th>
                <th>{{ 'Common.RollNo' | translate }}</th>
                <th>{{ 'Common.Name' | translate }}</th>
                <th>{{ 'Common.Physics' | translate }}</th>
                <th>{{ 'Common.Chemistry' | translate }}</th>
                <th>{{ 'Common.Maths' | translate }}</th>
                <th>{{ 'Buttons.Edit' | translate }}</th>
            </tr>

            <tr align="center" *ngFor="let m of form.list; let i = index">
                <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="m.id" [value]="isMasterSel"></td>
                <td>{{(form.pageNo*5)+i+ 1}}</td>
                <td>{{m.rollNo}}</td>
                <td>{{m.name}}</td>
                <td>{{m.physics}}</td>
                <td>{{m.chemistry}}</td>
                <td>{{m.maths}}</td>
                <td><a (click)="forward( '/marksheet/' +  m.id)" style="cursor: pointer;">{{ 'Buttons.Edit' | translate }}</a></td>
            </tr>
        </table>

        <br>

        <table style="width: 100%">
            <tr>
                <td style="width: 25%"><button (click)="previous()" [disabled]="form.pageNo == 0">{{ 'Buttons.Previous' | translate }}</button></td>
                <td align="center" style="width: 25%"><button (click)="forward('/marksheet')">{{ 'Buttons.New' | translate }}</button></td>
                <td align="center" style="width: 25%"><button (click)="deleteMany()">{{ 'Buttons.Delete' | translate }}</button></td>
                <td style="width: 25%" align="right"><button (click)="next()" [disabled]="form.nextListSize == 0">{{ 'Buttons.Next' | translate }}</button></td>
            </tr>
        </table>
    </div>

    <br>

    <div *ngIf="form.list.length == 0"><button (click)="reset()">{{ 'Buttons.Back' | translate }}</button></div>
</div>

<app-footer></app-footer>
