
<div align="center">
    <h1 align="center" style="margin-bottom: 5px; color: navy;">{{ 'Tables.UserList' | translate }}</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <div *ngIf="form.list.length > 0">
        <div class="row g-3 align-items-end mb-4">
            <div class="col-md-4">
                <label for="userFirstName" class="form-label fw-bold">{{ 'Common.FirstName' | translate }}</label>
                <input id="userFirstName" type="text" name="firstName" class="form-control"
                    [(ngModel)]="form.searchParams.firstName" [placeholder]="'Placeholders.EnterFirstName' | translate">
            </div>

            <div class="col-md-4">
                <label for="userLoginId" class="form-label fw-bold">{{ 'Common.LoginId' | translate }}</label>
                <input id="userLoginId" type="text" name="loginId" class="form-control"
                    [(ngModel)]="form.searchParams.loginId" [placeholder]="'Placeholders.EnterLoginId' | translate">
            </div>

            <div class="col-md-4">
                <label for="userRoleId" class="form-label fw-bold">{{ 'Common.Role' | translate }}</label>
                <select id="userRoleId" name="roleId" class="form-select" [(ngModel)]="form.searchParams.roleId">
                    <option [ngValue]="undefined">{{ 'Options.Select' | translate }}</option>
                    <option *ngFor="let obj of form.preload.roleList" [ngValue]="obj.key">{{ obj.value }}</option>
                </select>
            </div>

            <div class="col-12 d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-primary" (click)="search()">{{ 'Buttons.Search' | translate }}</button>
                <button type="button" class="btn btn-outline-secondary" (click)="reset()">{{ 'Buttons.Reset' | translate }}</button>
            </div>
        </div>

        <br>

        <table border="1" style="width: 100%; border: groove;">
            <tr style="background-color: #e1e6f1e3;">
                <th><input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)" /></th>
                <th>{{ 'Common.SNo' | translate }}</th>
                <th>{{ 'Common.Image' | translate }}</th>
                <th>{{ 'Common.FirstName' | translate }}</th>
                <th>{{ 'Common.LastName' | translate }}</th>
                <th>{{ 'Common.LoginId' | translate }}</th>
                <th>{{ 'Common.DateOfBirth' | translate }}</th>
                <th>{{ 'Common.Gender' | translate }}</th>
                <th>{{ 'Common.Role' | translate }}</th>
                <th>{{ 'Common.Mobile' | translate }}</th>
                <th>{{ 'Common.Status' | translate }}</th>
                <th>{{ 'Buttons.Edit' | translate }}</th>
            </tr>

            <tr align="center" *ngFor="let m of form.list; let i = index">
                <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="m.id" [value]="isMasterSel">
                </td>
                <td>{{(form.pageNo*5)+i+ 1}}</td>
                <td>
                    <img *ngIf="m.imageId" [src]="'http://localhost:8080/User/profilePic/' + m.id"
                        class="img-thumbnail" width="100">

                    <img *ngIf="!m.imageId" src="assets/default.jpg" class="img-thumbnail" width="100">
                </td>
                <td>{{m.firstName}}</td>
                <td>{{m.lastName}}</td>
                <td>{{m.loginId}}</td>
                <td>{{m.dob | date : 'dd-MM-yyyy'}}</td>
                <td>{{m.gender}}</td>
                <td>{{m.roleName}}</td>
                <td>{{m.phone}}</td>
                <td>{{m.status}}</td>
                <td><a (click)="forward( '/user/' +  m.id)" style="cursor: pointer;">{{ 'Buttons.Edit' | translate }}</a></td>
            </tr>
        </table>

        <br>

        <table style="width: 100%">
            <tr>
                <td style="width: 25%"><button (click)="previous()" [disabled]="form.pageNo == 0">{{ 'Buttons.Previous' | translate }}</button></td>
                <td align="center" style="width: 25%"><button (click)="forward('/user')">{{ 'Buttons.New' | translate }}</button></td>
                <td align="center" style="width: 25%"><button (click)="deleteMany()">{{ 'Buttons.Delete' | translate }}</button></td>
                <td style="width: 25%" align="right"><button (click)="next()" [disabled]="form.nextListSize == 0">{{ 'Buttons.Next' | translate }}</button></td>
            </tr>
        </table>
    </div>

    <br>

    <div *ngIf="form.list.length == 0"><button (click)="reset()">{{ 'Buttons.Back' | translate }}</button></div>
</div>

<app-footer></app-footer>