<h3>Hii , Guest</h3>


<a [routerLink]="['/role']"><b>Add Role</b></a> |
<a [routerLink]="['/user']"><b>Add User</b></a> |
<a [routerLink]="['/college']"><b>Add College</b></a> |
<a [routerLink]="['/student']"><b>Add Student</b></a> |
<a [routerLink]="['/marksheet']"><b>Add Marksheet</b></a> |
<a [routerLink]="['/course']"><b>Add Course</b></a> |
<a [routerLink]="['/subject']"><b>Add Subject</b></a> |
<a [routerLink]="['/timetable']"><b>Add Timetable</b></a> |
<a [routerLink]="['/faculty']"><b>Add Faculty</b></a> |

<hr>