<h3>Hii , Guest</h3>


<a [routerLink]="['/role']"><b>Add Role</b></a> |
<a [routerLink]="['/rolelist']"><b>Role List</b></a> |
<a [routerLink]="['/user']"><b>Add User</b></a> |
 <a [routerLink]="['/userlist']"><b>User List</b></a> |
<a [routerLink]="['/college']"><b>Add College</b></a> |
<a [routerLink]="['/collegelist']"><b>College List</b></a> |
<a [routerLink]="['/student']"><b>Add Student</b></a> |
<a [routerLink]="['/studentlist']"><b>Student List</b></a> |
<a [routerLink]="['/marksheet']"><b>Add Marksheet</b></a> |
<a [routerLink]="['/marksheetlist']"><b>Marksheet List</b></a> |
<a [routerLink]="['/course']"><b>Add Course</b></a> |
<a [routerLink]="['/courselist']"><b>Course List</b></a> |
<a [routerLink]="['/subject']"><b>Add Subject</b></a> |
 <a [routerLink]="['/subjectlist']"><b>Subject List</b></a> |
<a [routerLink]="['/timetable']"><b>Add Timetable</b></a> |
  <a [routerLink]="['/timetablelist']"><b>Timetable List</b></a> |
<a [routerLink]="['/faculty']"><b>Add Faculty</b></a> | 
<a [routerLink]="['/facultylist']"><b>Faculty List</b></a> |



<hr>