<div align="center">
    <h1 align="center" style="margin-bottom: 5px; color: navy;">Faculty List</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <div *ngIf="form.list.length > 0">
        <table style="width: 100%">
            <tr>
                <td align="center">
                    <label><b>First Name: </b></label>
                    <input type="text" name="firstName" [(ngModel)]="form.searchParams.firstName" placeholder="Enter First Name">&nbsp;

                    <label><b>Email Id: </b></label>
                    <input type="text" name="email" [(ngModel)]="form.searchParams.email" placeholder="Enter Email ID">&nbsp;

                    <button (click)="search()">search</button>&nbsp;
                    <button (click)="reset()">reset</button>
                </td>
            </tr>
        </table>

        <br>

        <table border="1" style="width: 100%; border: groove;">
            <tr style="background-color: #e1e6f1e3;">
                <th><input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)" /></th>
                <th>S.No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Phone No</th>
                <th>Email ID</th>
                <th>Qualification</th>
                <th>College</th>
                <th>Course</th>
                <th>Subject</th>
                <th>Edit</th>
            </tr>

            <tr align="center" *ngFor="let m of form.list; let i = index">
                <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="m.id" [value]="isMasterSel"></td>
                <td>{{(form.pageNo*5)+i+ 1}}</td>
                <td>{{m.firstName}}</td>
                <td>{{m.lastName}}</td>
                <td>{{m.dob | date : 'dd-MM-yyyy'}}</td>
                <td>{{m.gender}}</td>
                <td>{{m.phoneNo}}</td>
                <td>{{m.email}}</td>
                <td>{{m.qualification}}</td>
                <td>{{m.collegeName}}</td>
                <td>{{m.courseName}}</td>
                <td>{{m.subjectName}}</td>
                <td><a (click)="forward( '/faculty/' +  m.id)" style="cursor: pointer;">Edit</a></td>
            </tr>
        </table>

        <br>

        <table style="width: 100%">
            <tr>
                <td style="width: 25%"><button (click)="previous()" [disabled]="form.pageNo == 0">previous</button></td>
                <td align="center" style="width: 25%"><button (click)="forward('/faculty')">new</button></td>
                <td align="center" style="width: 25%"><button (click)="deleteMany()">delete</button></td>
                <td style="width: 25%" align="right"><button (click)="next()" [disabled]="form.nextListSize == 0">next</button></td>
            </tr>
        </table>
    </div>

    <br>

    <div *ngIf="form.list.length == 0"><button (click)="reset()">Back</button></div>
</div>

<app-footer></app-footer>
